<h1>User#show</h1>

<h1>Your friends available times array</h1>
<%= current_user.friends_available_times.inspect %>
<h1>Your own available times array</h1>
<%= current_user.available_times.inspect %>



<h1>range of times for yourself</h1>

<%= get_range_arr(current_user.available_times)%>

<h1>range of times for your friends</h1>
<%= get_range_arr(current_user.friends_available_times) %>


<h1>overlap ranges</h1>

<%= available_time_overlap(get_range_arr(current_user.available_times),get_range_arr(current_user.friends_available_times)) %>



<h1>hi</h1>
<%= range_overlap([1,3],[0,2]) %>